<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header.ejs') %>
    <main id="cart-main">
        <button type="button" id="delete-cart" 
        >
            Eliminar Todo
        </button>
        <section id="cart-conteiner">
    
        </section>

    </main>

    <%- include('../partials/footer.ejs') %>
</body>
<script src="/js/cartRender.js"></script>
<script src="/js/cartLogic.js"></script>
<script src="/js/shoppingCartEvt.js"></script>
</html>