<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/styles.css" />
    <title>Liza</title>
  </head>
  <body>
    <header>
        <div class="promotion-conteiner">
            <p class="promotion">Tres cuotas sin interes</p>
        </div>
      <div class="header-conteiner">
        <div>
          <a href="">Hombres</a>
          <a href="">Mujeres</a>
        </div>
        <a href="./index.html">
          <img
            src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fimg-corp.com%2F&psig=AOvVaw3mITeba2mn9DUq9TqiejML&ust=1673392597320000&source=images&cd=vfe&ved=0CBAQjRxqFwoTCOCJwavPu_wCFQAAAAAdAAAAABAE"
            alt="logo Liza"
          />
        </a>
        <!-- barra de busqueda -->
        <div>
          <button></button>
          <input type="search" />
        </div>
        <!-- seccion direcciones -->
        <ul>
          <li><a href="">carrito de compras</a></li>
          <li><a href="">login</a></li>
        </ul>
      </div>
    </header>

    <main></main>

    <footer></footer>
  </body>
</html>
