<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/shopping-cart.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <script
      src="https://kit.fontawesome.com/28e80e8067.js"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap"
      rel="stylesheet"
    />
    <title>Liza</title>
  </head>
<body>
  <header>
    <!-- marcador de promocion superior -->
    <div class="promotion-bar">
      <div class="promotion-conteiner">
        <p class="promotion">Tres cuotas sin interes</p>
      </div>
    </div>
    <!-- comienza el header -->
    <div class="header-conteiner">
      <!-- burger menu para movile -->
      <div class="burger-menu">
        <i class="fa-solid fa-bars"></i>
      </div>
      <!-- linkeado de hombres y Mujeres para desktop -->
      <div class="link-genre">
        <a class="men" href="/men">Hombres</a>
        <a href="/women">Mujeres</a>
      </div>
      <!-- Logo de Liza -->
      <a class="logo" href="/">
        <img class="size-logo"
          src="/images/logoLIZA.jpg"
          alt="logo Liza"
        />
      </a>
      <!-- barra de busqueda -->
      <div class="search-conteiner">
        <input type="text" name="q" placeholder="buscar" />
        <button type="submit">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </div>

      <!-- seccion direcciones -->
      <ul>
        <li class="list">
          <a href="/shopping-cart">
            <i class="fa-solid fa-cart-shopping"></i>
          </a>
        </li>
        <li class="list">
          <a href="/register">
            <i class="fa-solid fa-user"></i>
          </a>
        </li>
      </ul>
    </div>
  </header>
  <main class="content">
    <article class="detail-shop">
      <h3>Carrito de Compras</h3>
      <section>
        <table>
          <tr>
            <th>Artículo</th>
            
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Subtotal</th>
          </tr>
          <tr>
            <td>
              <div>
                <div>
                  <img src="https://png.pngtree.com/png-vector/20201208/ourmid/pngtree-question-mark-sign-flat-design-png-image_2521719.jpg" alt="imagen del producto" />
                </div>
                <!-- Descripcion del producto -->
                <div>
                  <h4>Nombre de producto</h4>
                  <p>Talla: M</p>
                  <p>color: <div class="color-cart"></div></p>
                </div>
              </div>
            </td>
            <td>$ oo.oooo</td>
            <td><input type="number" /></td>
            <td>$ oo.oooo</td>
          </tr>
        </table>
        <div class="add-delete">
          <i class="fa-solid fa-pen-to-square"></i>
          <i class="fa-solid fa-trash"></i>
        </div>
      </section>
      <section>
        <table>
          <tr>
            <th>Artículo</th>
            
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Subtotal</th>
          </tr>
          <tr>
            <td>
              <div>
                <div>
                  <img src="https://png.pngtree.com/png-vector/20201208/ourmid/pngtree-question-mark-sign-flat-design-png-image_2521719.jpg" alt="imagen del producto" />
                </div>
                <!-- Descripcion del producto -->
                <div>
                  <h4>Nombre de producto</h4>
                  <p>Talla: M</p>
                  <p>color: <div class="color-cart"></div></p>
                </div>
              </div>
            </td>
            <td>$ oo.oooo</td>
            <td><input type="number" /></td>
            <td>$ oo.oooo</td>
          </tr>
        </table>
        <div class="add-delete">
          <i class="fa-solid fa-pen-to-square"></i>
          <i class="fa-solid fa-trash"></i>
        </div>
      </section>
    </article>
  
    <aside class="total">
      <div>
      <h3>Resumen</h3>
      <table>
        <tr>
        <td>Estimacion de envío e impuestos </td>
        <td>$ 00.0000 </td>
        </tr>
        <tr>
          <td>Subtotal</td>
          <td>$ 00.0000 </td>
        </tr>
        <tr>
          <td>Total pedido</td>
          <td>$ 00.0000 </td>
        </tr>
      </table>
      </div>
    </aside>
  </main>
  <footer>
    <div class="footer-conteiner"><img class="size-logo" src="/images/logoLIZA.jpg" alt="logo de Liza" /></div>
    <div class="footer-conteiner">
      <ul>
        <li class="size-text-footer">Contactanos</li>
        <li class="size-text-footer">Sobre nosotros</li>
        <li class="size-text-footer">Encontranos</li>
      </ul>
    </div>
    <div class="footer-conteiner">
      <ul>
        <li class="size-text-footer">Cambios y devoluciones</li>
        <li class="size-text-footer">preguntas frecuentes</li>
        <li class="size-text-footer">Terminos de uso</li>
      </ul>
    </div>
    <div class="footer-conteiner">
      <a href="" target="_blank">
        <!-- aca link de facebook https://www.pngmart.com/files/15/Circle-Facebook-Logo-PNG-Photo.png -->
        <img
          src="https://www.pngplay.com/wp-content/uploads/8/Whatsapp-PNG-Images-HD.png"
          alt="Logo whatsapp"
          class="footer-img"
        />
      </a>
      <a href="https://www.instagram.com/" target="_blank">
        <img
          src="https://www.edigitalagency.com.au/wp-content/uploads/new-small-Instagram-logo-full-colour-png-184x184-pixels.png"
          alt="Logo intagram"
          class="footer-img"
        />
      </a>
      <a href="https://twitter.com/" target="_blank">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4f/Twitter-logo.svg/2491px-Twitter-logo.svg.png"
          alt="Logo twitter"
          class="footer-img"
        />
      </a>
    </div>
    <div class="footer-conteiner">
      <p class="size-text-footer">
        Horario de atencion <br />
        Lunes a Viernes <br />
        8:00 am - 5:00pm
      </p>
    </div>
  </footer>
</body>
</html>