<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/shopping-cart.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <script
      src="https://kit.fontawesome.com/28e80e8067.js"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap"
      rel="stylesheet"
    />
    <title>Liza</title>
  </head>
<body>
  <header>

    <!-- marcador de promocion superior Flotante -->
    <div class="promotion-bar">
      <div class="promotion-conteiner">
        <p class="promotion">Tres cuotas sin interes</p>
      </div>
    </div>

    <!-- comienza el header -->
    <div class="header-conteiner">

      <!-- burger menu para movile -->
      <div class="burger-menu">
        <i class="fa-solid fa-bars"></i>
      </div>


      <!-- linkeado de hombres y Mujeres para desktop -->
      <div class="link-genre">
        <a class="men" href="/men">Hombres</a>
        <a href="/women">Mujeres</a>
      </div>


      <!-- Logo de Liza -->
      <a class="logo" href="/">
        <img class="size-logo"
          src="/images/logoLIZA.jpg"
          alt="logo Liza"
        />
      </a>


      <!-- barra de busqueda -->
      <div class="search-conteiner">
        <input type="text" name="q" placeholder="buscar" />
        <button type="submit">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </div>

      <!-- seccion direcciones -->    
      <ul>
        <li class="list">
          <a href="/shopping-cart">
            <i class="fa-solid fa-cart-shopping"></i>
          </a>
        </li>
        <li class="list">
          <a href="/register">
            <i class="fa-solid fa-user"></i>
          </a>
        </li>
      </ul>
    </div>
  </header>
  
  <!-- comienza el contenido de pagina -->

  <main>
  <h3>Carrito de Compras</h3>
   <div class="grid-cart">
    <!-- cajones con el detalle del producto -->
    <section class="product-detail">
      <div class="grid-product">
        <img src="https://png.pngtree.com/png-vector/20201208/ourmid/pngtree-question-mark-sign-flat-design-png-image_2521719.jpg" alt="foto del producto">
        <div>
          <h3>Nombre producto</h3>
          <p>Talla</p>
          <p>M</p>
          <p>color</p>
          <img src="" alt="color de prendaS">
        </div>
        <div class="cant">1</div>
        <div class="precio">
          <p>$ 00.000</p>
          <img src="" alt="Papelera">
          <img src="" alt="Editar">
        </div>
      </div>
    </section>
    <section class="product-detail">
      <div class="grid-product">
        <img src="https://png.pngtree.com/png-vector/20201208/ourmid/pngtree-question-mark-sign-flat-design-png-image_2521719.jpg" alt="foto del producto" alt="foto del producto">
        <div>
          <h3>Nombre producto</h3>
          <p>Talla</p>
          <p>M</p>
          <p>color</p>
          <img src="" alt="color de prendaS">
        </div>
        <div class="cant">1</div>
        <div class="precio">
          <p>$ 00.000</p>
          <img src="" alt="Papelera">
          <img src="" alt="Editar">
        </div>
      </div>
    </section>
    <aside class="total-price">
      <h3>Resumen</h3>
      <div>
        <p>Estimación de envío e impuestos</p>
        <p>$ 00.000</p>
        <p>Subtotal</p>
        <p>$ 00.000</p>
        <p>Total del pedido</p>
        <p>$ 00.000</p>
        <button>Finalizar Compra</button>
      </div>

    </aside>
   </div> 
  </main>  

</body>
</html>