<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/woman.css" />
    <title>Document</title>
</head>
<body>
    <h2>WOMEN</h2>
      <section class="index-section">
        <article class="box-index">
          <img
            src="https://png.pngtree.com/png-vector/20201208/ourmid/pngtree-question-mark-sign-flat-design-png-image_2521719.jpg"
            alt=""
          />
          <div>
            <button>Nombre del Artículo</button>
          </div>
        </article>
        <article class="box-index">
          <img
            src="https://png.pngtree.com/png-vector/20201208/ourmid/pngtree-question-mark-sign-flat-design-png-image_2521719.jpg"
            alt=""
          />
          <div>
            <button>Nombre del Artículo</button>
          </div>
        </article>
        <article class="box-index">
          <img
            src="https://png.pngtree.com/png-vector/20201208/ourmid/pngtree-question-mark-sign-flat-design-png-image_2521719.jpg"
            alt=""
          />
          <div>
            <button>Nombre del Artículo</button>
          </div>
        </article>
        <article class="box-index">
          <img
            src="https://png.pngtree.com/png-vector/20201208/ourmid/pngtree-question-mark-sign-flat-design-png-image_2521719.jpg"
            alt=""
          />
          <div>
            <button>Nombre del Artículo</button>
          </div>
        </article>
        <article class="box-index">
          <img
            src="https://png.pngtree.com/png-vector/20201208/ourmid/pngtree-question-mark-sign-flat-design-png-image_2521719.jpg"
            alt=""
          />
          <div>
            <button>Nombre del Artículo</button>
          </div>
        </article>

        <article class="box-index">
            <img
              src="https://png.pngtree.com/png-vector/20201208/ourmid/pngtree-question-mark-sign-flat-design-png-image_2521719.jpg"
              alt=""
            />
            <div>
                <button>Nombre del Artículo</button>
            </div>
          </article>

          <article class="box-index">
            <img
              src="https://png.pngtree.com/png-vector/20201208/ourmid/pngtree-question-mark-sign-flat-design-png-image_2521719.jpg"
              alt=""
            />
            <div>
                <button>Nombre del Artículo</button>
            </div>
          </article>

          <article class="box-index">
            <img
              src="https://png.pngtree.com/png-vector/20201208/ourmid/pngtree-question-mark-sign-flat-design-png-image_2521719.jpg"
              alt=""
            />
            <div>
                <button>Nombre del Artículo</button>
            </div>
          </article>

          <article class="box-index">
            <img
              src="https://png.pngtree.com/png-vector/20201208/ourmid/pngtree-question-mark-sign-flat-design-png-image_2521719.jpg"
              alt=""
            />
            <div>
                <button>Nombre del Artículo</button>
            </div>
          </article>

          <article class="box-index">
            <img
              src="https://png.pngtree.com/png-vector/20201208/ourmid/pngtree-question-mark-sign-flat-design-png-image_2521719.jpg"
              alt=""
            />
            <div>
                <button>Nombre del Artículo</button>
            </div>
          </article>

          <article class="box-index">
            <img
              src="https://png.pngtree.com/png-vector/20201208/ourmid/pngtree-question-mark-sign-flat-design-png-image_2521719.jpg"
              alt=""
            />
            <div>
                <button>Nombre del Artículo</button>
            </div>
          </article>

          <article class="box-index">
            <img
              src="https://png.pngtree.com/png-vector/20201208/ourmid/pngtree-question-mark-sign-flat-design-png-image_2521719.jpg"
              alt=""
            />
            <div>
                <button>Nombre del Artículo</button>
            </div>
          </article>
          
      </section>

</body>
</html>