/* los colores nuevos
.color1 {color: #042850 ;}
.color2 {color: #048484 ;}
.color3 {color: #045c94 ;}
.color4 {color: #147c8c ;}
.color5 {color: #f4f4f4 ;}

font-family: 'Montserrat', sans-serif;
*/ 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/* aca comienza el main  */
.genre-tittle{
  text-align: center;
}
.index-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 15px;
}
.box-index {
    width: 55vw;
    max-width: 300px;
    margin: 15px;
    border-radius: 7px;
  }
  .box-index:hover {
    box-shadow: 0px 0px 10px #042850;
  }
  .box-index img {
    width: 100%;
    /* height: 80%; */
    background-size: cover;
    border-radius: 7px;
  }
  .box-index p{
    display: none;
  }
  .box-index p,h4{
    color: #fefefe;
  }
  .box-index:hover p{
    display: block;
  }
  .box-index div {
    text-align: center;
    background-color: #048484;
    /* color: black; */
    border-radius: 7px;
    padding: 10px;
  }




@media (min-width: 768px) {
  
}

@media (min-width: 1024px) {
  
}