* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/* comienza el header */
/* barra promocion superior */
.promotion-bar {
  /* position: relative; */
  /* z-index: 100; */
  background-color: #042850;
}
.promotion-conteiner {
  position: relative;
  background-color: #048484;
  color: #f4f4f4;
  height: 25px;
  padding: 5px;
  text-align: center;
  animation-name: fromto;
  animation-duration: 30000ms;
  animation-iteration-count: infinite;
  border-radius: 20px;
}
/* pormocion bar animaciones */
@keyframes fromto {
  0% {
    left: 25%;
  }
  50% {
    left: -75%;
  }
  100% {
    left: 25%;
  }
}

/* comienza la navegacion del header */

a {
  color: #f4f4f4;
  text-decoration: none;
}

.header-conteiner {
  background-color: #045c94;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 65px;
}
/* empieza el burger menu */
.burger-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 27px;
  height: 27px;
  border-radius: 10px;
}
.burger-menu i {
  color: #f4f4f4;
}
/* link hombre/mnoujer */
.link-genre {
  display: none;
}
.men {
  border-right: 4px solid #f4f4f4;
}
/* logotipo */

.size-logo {
  width: 60px;
  height: 55px;
}

/* barra de busqueda */
.search-conteiner {
  width: 43%;
  height: 32px;
  display: flex;
  background-color: #fff;
  border: #fff 1px solid;
  border-radius: 10px;
}

.search-conteiner input {
  width: 90%;
  height: 100%;
  outline: none;
  justify-content: flex-start;
  border: none;
  border-radius: 10px;
}

.search-conteiner button {
  height: 100%;
  border: none;
  justify-content: flex-end;
  border-radius: 10px;
  background-color: #fff;
  padding-left: 5px;
}
/* listas de carrito perfil */
.header-conteiner ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 70px;
}
.list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 27px;
  height: 27px;
  margin: 2px;
  border-radius: 10px;
}

@media (min-width: 768px) {
  .promotion-conteiner {
    width: 50vw;
    margin: 0 auto;
    border-radius: 20px;
  }

  /* aca comiensa el header */
  .burger-menu {
    display: none;
  }

  .link-genre {
    display: flex;
  }
  .search-conteiner {
    width: 30%;
    max-width: 700px;
    order: 0;
  }
}
