/* los colores nuevos .color1 {
  color: #042850;
}
.color2 {
  color: #048484;
}
.color3 {
  color: #045c94;
}
.color4 {
  color: #147c8c;
}
.color5 {
  color: #f4f4f4;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
/* comienza el header */
/* barra promocion superior */
.promotion-bar {
  position: relative;
  z-index: 100;
  background-color: #042850;
}
.promotion-conteiner {
  position: relative;
  background-color: #048484;
  color: #f4f4f4;
  height: 25px;
  padding: 5px;
  text-align: center;
  animation-name: fromto;
  animation-duration: 30000ms;
  animation-iteration-count: infinite;
  border-radius: 20px;
}
/* pormocion bar animaciones */
@keyframes fromto {
  0% {
    left: 25%;
  }
  50% {
    left: -75%;
  }
  100%{
    left: 25%;
  }
}

/* comienza la navegacion del header */

a {
  color: #f4f4f4;
  text-decoration: none;
}

.header-conteiner {
  background-color: #045c94;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 65px;
}
/* empieza el burger menu */
.burger-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 27px;
  height: 27px;
  border-radius: 10px;
}
.burger-menu i {
  color: #f4f4f4;
}
/* link hombre/mnoujer */
.link-genre {
  display: none;
}
.men {
  border-right: 4px solid #f4f4f4;
}
/* logotipo */
.logo {
  justify-content: center;
}

.size-logo {
  width: 60px;
  height: 55px;
}

/* barra de busqueda */
.search-conteiner {
  width: 43%;
  height: 32px;
  display: flex;
  background-color: #fff;
  border: #fff 1px solid;
  border-radius: 10px;
}

.search-conteiner input {
  width: 90%;
  height: 100%;
  outline: none;
  justify-content: flex-start;
  border: none;
  border-radius: 10px;
}

.search-conteiner button {
  height: 100%;
  border: none;
  justify-content: flex-end;
  border-radius: 10px;
  background-color: #fff;
  padding-left: 5px;
}
/* listas de carrito perfil */
.header-conteiner ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 70px;
}
.list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 27px;
  height: 27px;
  margin: 2px;
  border-radius: 10px;
}

/* aca comienza el main  */
.form {
  background-color: #ebebeb;
  width: 90%;
  max-width: 900px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 30px;
}

.form label {
  justify-content: flex-start;
}

.input{
  width: 50%;
  height: 32px;
  margin-bottom: 10px;
  border: #045c94 1px solid;
  border-radius: 20px;
}

.input:hover{
  width: 65%;
  transition: 1000ms;
  
}
.user-type {
  width: 40%;
  display: flex;
  align-items: center;
}
.user-option {
  justify-content: flex-start;
  display: block;
}

.form button {
  margin: 15px;
  width: 175px;
  height: 30px;
  background-color: #045c94;
  color: #f4f4f4;
  border-radius: 25px;
  border: none;
  cursor: pointer;
}
.form button:hover {
  background-color: #042850;
  transition: 1000ms;
}

p {
  text-align: center;
}

/* aca empieza el footer */

.footer-conteiner {
  background-color: #042850;
  margin: 0 auto;
  padding: 5px;
  color: #f4f4f4;
  text-align: center;
}
footer li {
  list-style: none;
}
.footer-img {
  width: 50xp;
  height: 50px;
}
@media (min-width: 768px) {
  .promotion-conteiner {
    width: 50vw;
    margin: 0 auto;
    border-radius: 20px;
  }

  /* aca comiensa el header */
  .burger-menu {
    display: none;
  }

  .link-genre {
    display: flex;
  }
  .search-conteiner {
    width: 30%;
    max-width: 700px;
    order: 0;
  }

  /* aca empiesa el footer */
  footer {
    display: flex;
  }
  .footer-conteiner {
    margin: 0;
    width: 20vw;
    border-right: 1px solid black;
  }
  .footer-img {
    width: 40xp;
    height: 40px;
  }
}
@media (min-width: 1024px) {
  /* aca empiesa el footer */
  footer {
    display: flex;
  }
  .footer-conteiner {
    margin: 0;
    width: 20vw;
  }
}
