.main {
    
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    background-image: url(../images/fondo-form.jpg);
    background-repeat: repeat;
    background-image: fixed;
    background-image: center;
    /* -webkit-background-size: cover; */
    -moz-background-size: cover;
    -o-background-size: cover;
    font-family: "Montserrat", sans-serif;
    color: aliceblue;
  }
  .paint{
    background-color: rgba(0, 73, 90, 0.7);
    display: grid;
    justify-items: center;
    width: 	60%;
    grid-template-columns: 1fr 1fr;
  }
  #form-create{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;     */
    
  }
  
  .form-group {
    width: 300px;
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    align-items: center;
  }
  .form-group2{
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4, 80px);
    align-items: center;    
  }

  .form-group3{
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4, 80px);
    align-items: center;        
    
  }
 .form2{
  padding: 20px;
  display: flex;
  flex-direction: column;
 }
  
  label {
    font-weight: bold;
    margin-bottom: 10px;
  }
  .size{
    height: 27px;
    margin: 5px;
  }
  .color{
    
    height: 27px;
    margin: 5px;
  }
  input[type="text"],
  textarea,
  select,
  input[type="number"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
  }
  #name{
    border: none;
  }
  .img{
    width: 80%;
    max-width: 600px;
    max-height: 600px;
    object-fit: contain;
  }
  .edit-btn{
    width: 100%;
    justify-self: center;
  }
  
  .edit-btn,
  .add-btn {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #002734;
    color: white;
    font-size: 18px;
    margin: 20px;
    cursor: pointer;
    justify-self: center;
    width: 70%;
  }
  
  .edit-btn:hover,
  .add-btn:hover {
    background-color: #045c94;
  }
  
  @media (max-width: 1115px) {

    #form-create{
    display: grid;
    align-items: center;
    justify-items: center;
      } 
    .paint{
    background-color: rgba(0, 73, 90, 0.7);
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    width: 	100%;}

    .form-group{
      width: 80%;
    }
      
      }

    

  
 