/* los colores nuevos
.color1 {color: #042850 ;}
.color2 {color: #048484 ;}
.color3 {color: #045c94 ;}
.color4 {color: #147c8c ;}
.color5 {color: #f4f4f4 ;}

font-family: 'Montserrat', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/* aca comienza el main  */

.all-product {
  display: flex;
  justify-content: center;
}
.product-viewer{
  display: none;
}
.size-conteiner{
  display: flex;
  justify-content: center;
  align-items: center;
}
.size{
  border: #042850 2px solid;
  border-radius: 10px;
  text-align: center;
  margin: 5px;
  width: 32px;
  height: 22px;
  cursor: pointer;
}
.color-conteiner{
  display: flex;
  justify-content: center;
}
.product-color{
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: 10px;
  cursor: pointer;
}
.color1{
  background-color: #FCD657;
}
.color2{
  background-color: #EAEBEE;
}
.color3{
  background-color: #A67881;
}
.add-conteiner{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}
.add-cart{
  width: 125px;
  height: 30px;
  background-color: #045c94;
  color: #f4f4f4;
  border: 1px solid #042850;
  border-radius: 10px;
}
h3, h4, h5{
  margin: 10px;
  margin-left: 0;
  text-align: center;
}
.offer-conteiner{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.offer-conteiner div{
  margin: 15px;
  border: #042850 solid 1px;
  border-radius: 10px;
  padding: 5px;
  width: 60vw;
}
.client-offer{
  width: 100%;
}
.offer-conteiner div h6,.price-product{
  text-align: center;
}
.main-product{
  display: none;
}
.is-visible{
  display: block;
}
.fa-circle{
  cursor: pointer;
}
.fa-regular{
  color: #048484;
  transition: 250ms;  
}
.fa-solid{
  color: #048484;
  transition: 1000ms;  
}

@media (min-width: 768px) {
  
  /* aca empieza el main */
  .product-article{
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
  }
  .all-product{
    flex-grow: .4;
  }
  .main-product{
    width: 30vw;
    height: 60vh;
  }
  .product-viewer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .product-viewer img{
    width: 10vw;
    height: 25%;
  }
  .offer-conteiner div{
    width: 40vw;
  }
  .description-conteiner{
    max-width: 500vw;
  }
  
}

@media (min-width: 1024px) {
  /* aca empieza el main  */
  .offer-conteiner div{
    width: 20vw;

  }
  .main-product{
    width: 20vw;
  }
  
}
