/* los colores nuevos
.color1 {color: #042850 ;}
.color2 {color: #048484 ;}
.color3 {color: #045c94 ;}
.color4 {color: #147c8c ;}
.color5 {color: #f4f4f4 ;}

font-family: 'Montserrat', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
/* comienza el header */
/* barra promocion superior */
.promotion-bar {
  position: relative;
  z-index: 100;
  background-color: #042850;
}
.promotion-conteiner {
  position: relative;
  background-color: #048484;
  color: #f4f4f4;
  height: 25px;
  padding: 5px;
  text-align: center;
  animation-name: fromto;
  animation-duration: 30000ms;
  animation-iteration-count: infinite;
  border-radius: 20px;
}
/* pormocion bar animaciones */
@keyframes fromto {
  0% {
    left: 25%;
  }
  50% {
    left: -75%;
  }
  100% {
    left: 25%;
  }
}

/* comienza la navegacion del header */

a {
  color: #f4f4f4;
  text-decoration: none;
}

.header-conteiner {
  background-color: #045c94;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 65px;
}
/* empieza el burger menu */
.burger-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 27px;
  height: 27px;
  border-radius: 10px;
}
.burger-menu i {
  color: #f4f4f4;
}
/* link hombre/mnoujer */
.link-genre {
  display: none;
}
.men {
  border-right: 4px solid #f4f4f4;
}
/* logotipo */
.logo {
  justify-content: center;
}

.size-logo {
  width: 60px;
  height: 55px;
}

/* barra de busqueda */
.search-conteiner {
  width: 43%;
  height: 32px;
  display: flex;
  background-color: #fff;
  border: #fff 1px solid;
  border-radius: 10px;
}

.search-conteiner input {
  width: 90%;
  height: 100%;
  outline: none;
  justify-content: flex-start;
  border: none;
  border-radius: 10px;
}

.search-conteiner button {
  height: 100%;
  border: none;
  justify-content: flex-end;
  border-radius: 10px;
  background-color: #fff;
  padding-left: 5px;
}
/* listas de carrito perfil */
.header-conteiner ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 70px;
}
.list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 27px;
  height: 27px;
  margin: 2px;
  border-radius: 10px;
}
/* aca comienza el main  */

.all-product {
  display: flex;
  justify-content: center;
}
.product-viewer{
  display: none;
}
.size-conteiner{
  display: flex;
  justify-content: center;
  align-items: center;
}
.size{
  border: #042850 2px solid;
  border-radius: 10px;
  text-align: center;
  margin: 5px;
  width: 32px;
  height: 22px;
  cursor: pointer;
}
.color-conteiner{
  display: flex;
  justify-content: center;
}
.product-color{
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: 10px;
  cursor: pointer;
}
.color1{
  background-color: #FCD657;
}
.color2{
  background-color: #EAEBEE;
}
.color3{
  background-color: #A67881;
}
h3, h4, h5{
  margin: 10px;
  margin-left: 0;
  text-align: center;
}
.offer-conteiner{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.offer-conteiner div{
  margin: 15px;
  border: #042850 solid 1px;
  border-radius: 10px;
  padding: 5px;
  width: 60vw;
}
.client-offer{
  width: 100%;
}
.offer-conteiner div h6,.price-product{
  text-align: center;
}
/* aca empieza el footer */
.footer-conteiner {
  margin: 0 auto;
  padding: 5px;
  color: #f4f4f4;
  background-color: #042850;
  text-align: center;
}
footer li {
  list-style: none;
}
.footer-img {
  width: 50xp;
  height: 50px;
}

@media (min-width: 768px) {
  .promotion-conteiner {
    width: 50vw;
    margin: 0 auto;
    border-radius: 20px;
  }

  /* aca comiensa el header */
  .burger-menu {
    display: none;
  }

  .link-genre {
    display: flex;
  }
  .search-conteiner {
    width: 30%;
    max-width: 700px;
    order: 0;
  }
  /* aca empieza el main */
  .product-article{
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
  }
  .all-product{
    flex-grow: .4;
  }
  .main-product{
    width: 30vw;
  }
  .product-viewer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .product-viewer img{
    width: 10vw;
    height: 25%;
  }
  .offer-conteiner div{
    width: 40vw;
  }
  .description-conteiner{
    max-width: 500vw;
  }
  /* aca empiesa el footer */
  footer {
    display: flex;
  }
  .footer-conteiner {
    margin: 0;
    width: 20vw;
    border-right: 1px solid black;
  }
  .footer-img {
    width: 40xp;
    height: 40px;
  }
}

@media (min-width: 1024px) {
  /* aca empieza el main  */
  .offer-conteiner div{
    width: 20vw;

  }
  /* aca empiesa el footer */
  footer {
    display: flex;
  }
  .footer-conteiner {
    margin: 0;
    width: 20vw;
  }
}
