main{
    position: relative;
    height: 70vh;
}
.profile{
    box-shadow: 5px 5px 15px #147c8c;
    width: 90%;
    max-width: 900px;
    padding: 10px;
    margin: 75px auto;
    display: flex;
    justify-content: center;
    max-width: 500px;
    max-height: 500px;
    border-radius: 25px;
}
 .profile-conteiner{
    margin: 0px auto;
}
.profile-conteiner p{
    padding: 7px;
}
.name-p{
    padding: 3px;
    display: flex;
    justify-content: space-around;
}
.img-count{
    display: flex;
    justify-content: center;
}
.profile-img{
    padding: 3px;
    margin: 0px auto;
    width: 200px;
    height: 200px;
}
.button{

    margin: 10px 5px;
    width: 100%;
    max-width: 250px;
    height: 35px;
    background-color: #048484;
    box-shadow: 2px 4px 3px #048484;
    color: #f3eeee;
    border-radius: 7px;
    border: none;
    cursor: pointer
}
.editar{
    background-color: #2792d5;
    box-shadow: 2px 4px 3px #2792d5;

}
.eliminar{
    background-color: #9b1222;
    box-shadow: 2px 4px 3px #9b1222;

}