*{ margin: 0;
padding: 0;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box; }

main{
    position: relative;
    height: 70vh;
}
.profile{
    /*box-shadow: 5px 5px 15px #147c8c;*/
    width: 90%;
    max-width: 900px;
    padding: 10px;
    margin: 75px auto;
    display: flex;
    justify-content: center;
    max-width: 500px;
    max-height: 500px;
    border-radius: 25px;
}
 .profile-conteiner{
    margin: 0px auto;
}
.profile-conteiner p{
    padding: 7px;
}
.wrap {
    width: 800px;
    max-width: 90%;
    margin: 30px auto;
}

ul.tabs {
width: 100%;
background-color: #147c8c;
border-radius: 10px;
list-style: none;
display: flex;
justify-content: space-between;
}

ul.tabs li {
    width: 18%;
    }

ul.tabs li a {
    color: #f4f4f4;
    text-decoration: none;
    font-size: 16px;
    display: block;
    padding: 20px 0px;
    }



.name-p{
    padding: 3px;
    display: flex;
    justify-content: space-around;
}
.img-count{
    display: flex;
    justify-content: center;
}
.profile-img{
    padding: 3px;
    margin: 0px auto;
    width: 200px;
    height: 200px;
}
.button{

    margin: 10px 5px;
    width: 100%;
    max-width: 250px;
    height: 35px;
    background-color: #048484;
    box-shadow: 2px 4px 3px #048484;
    color: #f3eeee;
    border-radius: 7px;
    border: none;
    cursor: pointer
}
.editar{
    background-color: #2792d5;
    box-shadow: 2px 4px 3px #2792d5;

}
.eliminar{
    background-color: #9b1222;
    box-shadow: 2px 4px 3px #9b1222;

}