/* los colores nuevos
.color1 {color: #042850 ;}
.color2 {color: #048484 ;}
.color3 {color: #045c94 ;}
.color4 {color: #147c8c ;}
.color5 {color: #f4f4f4 ;} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/* aca empieza el main */
.register-tittle{
  text-align: center;
  margin: 10px 0;
}
.form {
  background-color: #ebebeb;
  width: 90%;
  max-width: 900px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 30px;
}
.input{
  width: 50%;
  height: 32px;
  margin-bottom: 10px;
  border: #045c94 1px solid;
  border-radius: 20px;
}
.input:focus{
  width: 65%;
  transition: 1000ms;
  
}
.submit{
  margin: 15px;
  width: 150px;
  height: 30px;
  background-color: #045c94;
  color: #f4f4f4;
  border-radius: 25px;
  border: none;
  cursor: pointer;
}
.submit:hover{
  background-color: #042850;
  transition: 1000ms;
}
.size-text-footer {
  font-size: small;
}


@media (min-width: 768px) {
  
}

@media (min-width: 1024px) {
  /* aca empieza el main  */
  /* aca empiza el nav main */
  .main-nav {
    height: 50vh;
  }
  
  
}
