/* ---- Paleta de colores ----

los colores viejos
.color1 {color: #002734;}
.color2 {color: #00495a;}
.color3 {color: #00778b;}
.color4 {color: #00b2c7;}
.color5 {color: #00fbff;}

los colores nuevos
.color1 {color: #042850 ;}
.color2 {color: #048484 ;}
.color3 {color: #045c94 ;}
.color4 {color: #147c8c ;}
.color5 {color: #f4f4f4 ;}

font-family: 'Montserrat', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

#cart-conteiner{
  height: 80vh;
}
/* ----Main---- */

main{
  display: grid;
  margin-top: 15px;
  margin-bottom: 30px;
  place-content: center;
  }
  .grid-cart{
    margin: 20px;
    display: grid;
    grid-template-columns: minmax(280px, 770px);
    gap: 20px;
    
  }
  h3{
    font-size: 13px;
    text-align: center;
    margin-bottom: 15px;
  }
  h5{
    font-size: 13px;
    padding-top: 15px;
    text-align: center;
    
  }

  h4{
    text-align: left;
    font-size: 11px;
  }
  
  .product-detail{
    /* background-color: peru; */
  }
  .grid-product{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    object-fit: contain;
    /* place-items: center; */
    font-size: 12px;
    border-bottom: 1px solid rgb(201, 201, 201);
    border-top: 1px solid rgb(201, 201, 201);

           
  }
   
  .photo{
    width: 100%;
    height: 100%;
    padding: 5px;
  }
  .description-product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;


  }

.size-clothing , .colour-clothing{
  display: flex;
  margin-bottom: 5px;
}
.colour-clothing-word , .size-clothing-word{
  width: 40px;
}

.cant{
  display: flex;
  justify-self: center;
  align-self: center;
  width: 40px;
  height: 20px; 
  border: none;
  background-color: rgb(198, 211, 235);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }

.colour-clothing-point{
  width: 15px;
  background-color: #00778b; 
  border-radius: 25px ;
  border: none; 
}

.price{

  display: flex;
  flex-direction: column;
  justify-content: space-between;
 }
 .container-price{
    display: flex;
    margin-top: 10px;
    height: 100%;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
 }
 .icons{
  align-self: end;
  margin-bottom: 10px ;
  margin-right: 10px;
 }
 .price-value{
  /* height: 100%; */
 }
  .total-price{
    display: grid;
    padding-bottom: 15px;
    text-align: center;
    place-content: center;
  }
    .total-price-grid{
      display: grid;
      grid-template-columns: minmax(190px, 300px) minmax(80px, 160px);
      margin: 10px;
      font-size: 12px;
      
    }
.total-colum1{
  width: 100%;
  text-align: left;
  justify-self: left;
  border-bottom: 1px solid rgb(201, 201, 201);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  
}
.value-price{
  width: 100%;
  height: 100%;
  align-self: center;
  justify-self: center;
  border-bottom: 1px solid rgb(201, 201, 201);
  padding-top: 5px;
  padding-bottom: 5px;
}

.finish-shop{
  display: flex;
  color: #fff; 
  background-color: #042850; 
  border-radius: 5px ; 
  padding: 3px; 
}
.button{
  display: grid;
  place-content: center;
  padding-top: 20px ;
}



/* ----Diseño adaptativo primer punto de quiebre---- */

@media (min-width: 768px) {
  
  /* ----Main---- */ 
  h4{
    font-size: 16px;
    padding-bottom: 10px;
  }
  h3{
    font-size: 16px;
  }

  h5{
    font-size: 16px;
    padding-top: 15px;
    text-align: center;
    
  }

  .total-price-grid{
    display: grid;
    grid-template-columns: minmax(190px, 300px) minmax(80px, 160px);
    margin: 10px;
    font-size: 15px;
    
  }
  .grid-product{
    display: grid;
    grid-template-columns: minmax(73px, 183px) minmax(73px, 183px) minmax(73px, 183px) minmax(73px, 183px);
    object-fit: contain;
    font-size: 15px;
    border-bottom: 1px solid rgb(201, 201, 201);
    border-top: 1px solid rgb(201, 201, 201);        
  }
  
  .description-product{
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    }

    .colour-clothing-word , .size-clothing-word{
      width: 70px;}

      .cant{
        display: flex;
        justify-self: center;
        align-self: center;
        width: 60px;
        height: 30px; 
        border: none;
        background-color: rgb(198, 211, 235);
      }
      

  
}

/* ----Diseño adaptativo segundo punto de quiebre---- */

@media (min-width: 1024px) {

  /*----footer---- */

  

  .grid-cart{
    margin: 20px;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 400px 300px;
    grid-template-rows: 185px 185px;
    gap: 20px;
}
.grid-product{
  display: grid;
  grid-template-columns: minmax(73px, 170px) minmax(73px, 183px) minmax(73px, 183px) minmax(73px, 183px);
  object-fit: contain;
  font-size: 15px;
  border-bottom: 1px solid rgb(201, 201, 201);
  border-top: 1px solid rgb(201, 201, 201); 
}







}

