/* aca poner los colores
.color1 {color: #002734;}
.color2 {color: #00495a;}
.color3 {color: #00778b;}
.color4 {color: #00b2c7;}
.color5 {color: #00fbff;}
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* comienza el header */
/* barra promocion superior */
.promotion-bar {
  position: relative;
  z-index: 100;
  background-color: #00fbff;
}
.promotion-conteiner {
  background-color: #002734;
  color: white;
  height: 25px;
  padding: 5px;
  text-align: center;
}

/* .promotion{
    height: 30px;
    width: 30vw;
    background-color: grey;
    text-align: center;
    margin: 0 auto;
    border-radius: 15px;
} */
/* comienza la navegacion del header */

.header-conteiner {
  background-color: #00b2c7;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 65px;
}
/* empieza el burger menu */
.burger-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 27px;
  height: 27px;
  border: 1px solid #00495a;
  border-radius: 10px;
}
/* link hombre/mnoujer */
.link-genre {
  display: none;
}
.men {
  border-right: 1px solid black;
}
/* logotipo */
.logo {
  justify-content: center;
}
/* barra de busqueda */
.search-conteiner {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  order: 1;
}

/* .search-bar{
    display: flex;
    width: 20%;
    border: 1px solid #000;
    border-radius: 10px;
    justify-content: space-between;
}

.search-bar input{
    width: 70%;
    border-radius: 10px;
    border: none;
}
input:focus{
    border: 1px solid white;
}
.search-bar button{
    width: 22%;
    border: none;
    background: #fff;
    border-radius: 10px;
    margin-left: 2px;
} */
/* listas de carrito perfil */
.header-conteiner ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 70px;
}
.list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 27px;
  height: 27px;
  margin: 2px;
  border: 1px solid #00495a;
  border-radius: 10px;
}
/* aca empieza el main */
/* aca comienza la navegacion del main */
.section-navegation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #00fbff;
  padding: 15px;
}
.main-nav {
  width: 65vw;
  max-width: 275px;
  height: 40vh;
  border: 1px solid gray;
  border-radius: 7px;
  margin: 15px;
}
.img-main {
  width: 100%;
  height: 100%;
  background-size: contain;
  border-radius: 7px;
}
.main-nav a p {
  text-align: center;
  background-color: #666;
  border-radius: 10px;
}
.main-nav a p:hover {
  background-color: purple;
}
/* aca comienza la seccion favoritas y ofertas */
h2 {
  text-align: center;
  margin: 10px;
}
.index-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 15px;
}
.box-index {
  width: 55vw;
  max-width: 260px;
  margin: 15px;
  /* margin-bottom: 25px; */
  border-radius: 7px;
}
.box-index img {
  width: 100%;
  height: 90%;
  background-size: cover;
  border-radius: 7px;
}
.box-index div {
  text-align: center;
  background-color: #666;
  color: white;
  border-radius: 10px;
}
/* aca empieza el footer */
.footer-conteiner {
  margin: 0 auto;
  padding: 5px;
  color: white;
  background-color: #00778b;
  text-align: center;
  border-bottom: 1px solid black;
}
footer li {
  list-style: none;
}
.footer-img {
  width: 50xp;
  height: 50px;
}

@media (min-width: 768px) {
  .promotion-conteiner {
    width: 50vw;
    margin: 0 auto;
    border-radius: 20px;
  }

  /* aca comiensa el header */
  .burger-menu {
    display: none;
  }

  .link-genre {
    display: flex;
  }
  .search-conteiner {
    width: 30%;
    max-width: 700px;
    order: 0;
  }
  /* aca comienza el main */
  /* aca comienza la navegacion del main */
  .main-nav {
    width: 25vw;
    max-width: none;
  }
  /* aca comienza la seccion ofertas y fav */
  .box-index {
    width: 15vw;
    max-width: none;
  }
  /* aca empiesa el footer */
  footer {
    display: flex;
  }
  .footer-conteiner {
    margin: 0;
    width: 20vw;
    border-right: 1px solid black;
  }
  .footer-img {
    width: 40xp;
    height: 40px;
  }
}

@media (min-width: 1024px) {
  /* aca empieza el main  */
  /* aca empiza el nav main */
  .main-nav {
    height: 50vh;
  }
  /* aca empiesa el footer */
  footer {
    display: flex;
  }
  .footer-conteiner {
    margin: 0;
    width: 20vw;
    border-right: 1px solid black;
  }
}
