<%- include('partials/head.ejs') %>

<%- include('partials/header.ejs') %>
<div class="error-container"> 
<img class="error-404" src='/images/404!!.png' alt="404">
</div>

<style> 
    .error-404 {
        width: 900px;
        margin: 0 auto;
    }
    .error-container {
        display: flex;
        position: relative;
    }

</style>