<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>



<body>
    <%- include('./partials/header')%>
    <main>
        <section class="section-navegation">
          <article class="main-nav">
            <a href="/man">
              <img
                src="https://http2.mlstatic.com/D_NQ_NP_649598-MLA53016061105_122022-O.jpg"
                alt="imagen de hombre"
                class="img-main"
              />
              <p>Hombres</p>
            </a>
          </article>
          <article class="main-nav">
            <a href="/women">
              <img
                src="https://www.kvnstatic.com/foto-prod/M3435001/g/M3435001_1-remera-lisa-mangacorta-mujer.jpg"
                alt="imagen de mujer"
                class="img-main"
              />
              <p>Mujeres</p>
            </a>
          </article>
          <article class="main-nav">
            <a href="#Offers-link">
              <img
                src="https://png.pngtree.com/png-vector/20201208/ourmid/pngtree-question-mark-sign-flat-design-png-image_2521719.jpg"
                alt="imagen de ofertas"
                class="img-main"
              />
              <p>Ofertas</p>
            </a>
          </article>
        </section>
  
        <h2>Favoritos</h2>
        <section class="index-section">
          <article class="box-index">
            <img
              src="https://png.pngtree.com/png-vector/20201208/ourmid/pngtree-question-mark-sign-flat-design-png-image_2521719.jpg"
              alt=""
            />
            <div>
              <p>remera</p>
              <p>200pesos</p>
            </div>
          </article>
          <article class="box-index">
            <img
              src="https://png.pngtree.com/png-vector/20201208/ourmid/pngtree-question-mark-sign-flat-design-png-image_2521719.jpg"
              alt=""
            />
            <div>
              <p>remera</p>
              <p>200pesos</p>
            </div>
          </article>
          <article class="box-index">
            <img
              src="https://png.pngtree.com/png-vector/20201208/ourmid/pngtree-question-mark-sign-flat-design-png-image_2521719.jpg"
              alt=""
            />
            <div>
              <p>remera</p>
              <p>200pesos</p>
            </div>
          </article>
          <article class="box-index">
            <img
              src="https://png.pngtree.com/png-vector/20201208/ourmid/pngtree-question-mark-sign-flat-design-png-image_2521719.jpg"
              alt=""
            />
            <div>
              <p>remera</p>
              <p>200pesos</p>
            </div>
          </article>
          <article class="box-index">
            <img
              src="https://png.pngtree.com/png-vector/20201208/ourmid/pngtree-question-mark-sign-flat-design-png-image_2521719.jpg"
              alt=""
            />
            <div>
              <p>remera</p>
              <p>200pesos</p>
            </div>
          </article>
        </section>
  
        <h2 id="Offers-link">Ofertas</h2>
        <section class="index-section">
          <article class="box-index">
            <img
              src="https://png.pngtree.com/png-vector/20201208/ourmid/pngtree-question-mark-sign-flat-design-png-image_2521719.jpg"
              alt=""
            />
            <div>
              <p>remera</p>
              <p>200pesos</p>
            </div>
          </article>
          <article class="box-index">
            <img
              src="https://png.pngtree.com/png-vector/20201208/ourmid/pngtree-question-mark-sign-flat-design-png-image_2521719.jpg"
              alt=""
            />
            <div>
              <p>remera</p>
              <p>200pesos</p>
            </div>
          </article>
          <article class="box-index">
            <img
              src="https://png.pngtree.com/png-vector/20201208/ourmid/pngtree-question-mark-sign-flat-design-png-image_2521719.jpg"
              alt=""
            />
            <div>
              <p>remera</p>
              <p>200pesos</p>
            </div>
          </article>
          <article class="box-index">
            <img
              src="https://png.pngtree.com/png-vector/20201208/ourmid/pngtree-question-mark-sign-flat-design-png-image_2521719.jpg"
              alt=""
            />
            <div>
              <p>remera</p>
              <p>200pesos</p>
            </div>
          </article>
          <article class="box-index">
            <img
              src="https://png.pngtree.com/png-vector/20201208/ourmid/pngtree-question-mark-sign-flat-design-png-image_2521719.jpg"
              alt=""
            />
            <div>
              <p>remera</p>
              <p>200pesos</p>
            </div>
          </article>
        </section>
      </main>
    <%- include('./partials/footer')%>
</body>
</html>