<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

</head>
<body>
<%- include('./partials/header') %>
<main>
    <h2 class="genre-tittle">MEN</h2>
    <section class="index-section">
      <article class="box-index">
        <a href="/product">
          <img
            src="https://png.pngtree.com/png-vector/20201208/ourmid/pngtree-question-mark-sign-flat-design-png-image_2521719.jpg"
            alt="Imagen del Producto"
          />
          <div>
            <p>Precio</p>
            <p>Precio en X cuotas</p>
            <h4>Nombre del Artículo</h4>
          </div>
        </a>
      </article>
      <article class="box-index">
        <a href="/product">
          <img
            src="https://png.pngtree.com/png-vector/20201208/ourmid/pngtree-question-mark-sign-flat-design-png-image_2521719.jpg"
            alt="Imagen del Producto"
          />
          <div>
            <p>Precio</p>
            <p>Precio en X cuotas</p>
            <h4>Nombre del Artículo</h4>
          </div>
        </a>
      </article>
      <article class="box-index">
        <a href="/product">
          <img
            src="https://png.pngtree.com/png-vector/20201208/ourmid/pngtree-question-mark-sign-flat-design-png-image_2521719.jpg"
            alt="Imagen del Producto"
          />
          <div>
            <p>Precio</p>
            <p>Precio en X cuotas</p>
            <h4>Nombre del Artículo</h4>
          </div>
        </a>
      </article>
      <article class="box-index">
        <a href="/product">
          <img
            src="https://png.pngtree.com/png-vector/20201208/ourmid/pngtree-question-mark-sign-flat-design-png-image_2521719.jpg"
            alt="Imagen del Producto"
          />
          <div>
            <p>Precio</p>
            <p>Precio en X cuotas</p>
            <h4>Nombre del Artículo</h4>
          </div>
        </a>
      </article>
      <article class="box-index">
        <a href="/product">
          <img
            src="https://png.pngtree.com/png-vector/20201208/ourmid/pngtree-question-mark-sign-flat-design-png-image_2521719.jpg"
            alt="Imagen del Producto"
          />
          <div>
            <p>Precio</p>
            <p>Precio en X cuotas</p>
            <h4>Nombre del Artículo</h4>
          </div>
        </a>
      </article>

      <article class="box-index">
        <a href="/product">
          <img
            src="https://png.pngtree.com/png-vector/20201208/ourmid/pngtree-question-mark-sign-flat-design-png-image_2521719.jpg"
            alt="Imagen del Producto"
          />
          <div>
            <p>Precio</p>
            <p>Precio en X cuotas</p>
            <h4>Nombre del Artículo</h4>
          </div>
        </a>
      </article>

      <article class="box-index">
        <a href="/product">
          <img
            src="https://png.pngtree.com/png-vector/20201208/ourmid/pngtree-question-mark-sign-flat-design-png-image_2521719.jpg"
            alt="Imagen del Producto"
          />
          <div>
            <p>Precio</p>
            <p>Precio en X cuotas</p>
            <h4>Nombre del Artículo</h4>
          </div>
        </a>
      </article>

      <article class="box-index">
        <a href="/product">
          <img
            src="https://png.pngtree.com/png-vector/20201208/ourmid/pngtree-question-mark-sign-flat-design-png-image_2521719.jpg"
            alt="Imagen del Producto"
          />
          <div>
            <p>Precio</p>
            <p>Precio en X cuotas</p>
            <h4>Nombre del Artículo</h4>
          </div>
        </a>
      </article>

      <article class="box-index">
        <a href="/product">
          <img
            src="https://png.pngtree.com/png-vector/20201208/ourmid/pngtree-question-mark-sign-flat-design-png-image_2521719.jpg"
            alt="Imagen del Producto"
          />
          <div>
            <p>Precio</p>
            <p>Precio en X cuotas</p>
            <h4>Nombre del Artículo</h4>
          </div>
        </a>
      </article>

      <article class="box-index">
        <a href="/product">
          <img
            src="https://png.pngtree.com/png-vector/20201208/ourmid/pngtree-question-mark-sign-flat-design-png-image_2521719.jpg"
            alt="Imagen del Producto"
          />
          <div>
            <p>Precio</p>
            <p>Precio en X cuotas</p>
            <h4>Nombre del Artículo</h4>
          </div>
        </a>
      </article>

      <article class="box-index">
        <a href="/product">
          <img
            src="https://png.pngtree.com/png-vector/20201208/ourmid/pngtree-question-mark-sign-flat-design-png-image_2521719.jpg"
            alt="Imagen del Producto"
          />
          <div>
            <p>Precio</p>
            <p>Precio en X cuotas</p>
            <h4>Nombre del Artículo</h4>
          </div>
        </a>
      </article>

      <article class="box-index">
        <a href="/product">
          <img
            src="https://png.pngtree.com/png-vector/20201208/ourmid/pngtree-question-mark-sign-flat-design-png-image_2521719.jpg"
            alt="Imagen del Producto"
          />
          <div>
            <p>Precio</p>
            <p>Precio en X cuotas</p>
            <h4>Nombre del Artículo</h4>
          </div>
        </a>
      </article>
    </section>
  </main>

<%- include('./partials/footer') %>    
</body>
</html>