<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

</head>
<body>
<%- include('./partials/header') %>
<main>
    <h2 class="register-tittle">
      Crear nueva cuenta de cliente
    </h2>
    <h3 class="register-tittle">
      Crear nueva cuenta
    </h3>
    <form class="form" action="/login">
      <label for="name">Nombres * </label>
      <input type="text" 
      id="name" 
      name="name" 
      placeholder="Nombres"
      class="input" 
      />

      <label for="surname">Apellidos * </label>
      <input
        type="text"
        id="surname"
        name="surname"
        placeholder="Apellidos"
        minlength="4"
        class="input"
      />
      <div>
        <input
          type="checkbox"
          id="suscribe-newsletter"
          name="suscribe-newsletter"
          value="suscribe-newsletter"
          class="user-option"
        />Suscribirme al Newsletter
      </div>

      <label for="email">Correo Electr칩nico *</label>
      <input
        type="email"
        id="email"
        name="email"
        placeholder="Correo Electr칩nico"
        class="input"
      />

      <label for="password">Contrase침a *</label>
      <input type="password" id="password" name="password" 
      class="input"
      />

      <label for="confirm-password">Confirmar Contrase침a *</label>
      <input
        type="confirm-password"
        id="confirm-password"
        name="confirm-password"
        class="input"
      />

      <h4>*Campos requeridos</h4>

      <button class="submit" type="submit">Crear una cuenta</button>
    </form>
  </main>

<%- include('./partials/footer') %>    
</body>
</html>