<footer class="footer">
  <div class="headerfooter">
    <img class="footer-img" src="/images/LogoLizaText.png" alt="logo de Liza" />
    <div></div>  
    <div class="icons-rs"><span class="ft-wa"><i class="fa-brands fa-whatsapp"></i></span>      
      <span class="ft-ig"><i class="fa-brands fa-instagram"></i></span>
      <a href="https://github.com/johann-jerman/grupo_4_Liza" target="_blank">
        <span class="ft-di"><i class="fa-brands fa-github"></i></span>
      </a>
      <span class="ft-tw"><i class="fa-brands fa-twitter"></i></span>
      <span class="ft-gh"><i class="fa-brands fa-discord"></i></span>
    </div>
  </div>
  <hr>
  <div class="footer-content">
    <div class="info">
      <div class="subtitle">Contáctanos</div>
      <div class="column">
        <ul>
          <li class="size-text-footer"><a href="a">Contacto</a></li>
          <li class="size-text-footer"><a href="a">Sucursales</a></li>
          <li class="size-text-footer"><a href="a">Horarios</a></li>
        </ul>
      </div>
    </div>
    
    <div class="info">
      <div class="subtitle">Preguntas Frecuentes</div>
      <div class="column">
        <ul>
          <li class="size-text-footer"><a href="a">Cambios y devoluciones</a></li>
          <li class="size-text-footer"><a href="a">Medios de pago</a></li>
          <li class="size-text-footer"><a href="a">Otras consultas</a></li>
        </ul>
      </div>
    </div>
    
    <div class="info">
      <div class="subtitle">Nuestra Empresa</div>
      <div class="column">
        <ul>
          <li class="size-text-footer">Quienes somos</li>
          <li class="size-text-footer">Trabaja con Nosotros</li>
          <li class="size-text-footer">Sistema de Referidos</li>
        </ul>
      </div>
    </div>
    
    <div class="info">
      <div class="subtitle">Más información</div>
      <div class="column">
        <ul>
          <li class="size-text-footer"><a href="a">Politica de Privacidad</a></li>
          <li class="size-text-footer"><a href="a">Politica de Cookies</a></li>
          <li class="size-text-footer"><a href="a">Copyright</a></li>
        </ul>
      </div>
    </div>
    
  </div>
  </div>  
  <script
  src="/js/footer-info.js">
</script>
</footer>
</body>

</html>