<footer>
    <div class="footer-conteiner"><img class="size-logo" src="/images/LogoLizaText.png" alt="logo de Liza" /></div>
    <div class="footer-conteiner">
      <ul>
        <li class="size-text-footer">Contactanos</li>
        <li class="size-text-footer">Sobre nosotros</li>
        <li class="size-text-footer">Encontranos</li>
      </ul>
    </div>
    <div class="footer-conteiner">
      <ul>
        <li class="size-text-footer">Cambios y devoluciones</li>
        <li class="size-text-footer">preguntas frecuentes</li>
        <li class="size-text-footer">Terminos de uso</li>
      </ul>
    </div>
    <div class="footer-conteiner">
      <a href="" target="_blank">
        <!-- aca link de facebook https://www.pngmart.com/files/15/Circle-Facebook-Logo-PNG-Photo.png -->
        <img
          src="https://www.pngplay.com/wp-content/uploads/8/Whatsapp-PNG-Images-HD.png"
          alt="Logo whatsapp"
          class="footer-img"
        />
      </a>
      <a href="https://www.instagram.com/" target="_blank">
        <img
          src="https://www.edigitalagency.com.au/wp-content/uploads/new-small-Instagram-logo-full-colour-png-184x184-pixels.png"
          alt="Logo intagram"
          class="footer-img"
        />
      </a>
      <a href="https://twitter.com/" target="_blank">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4f/Twitter-logo.svg/2491px-Twitter-logo.svg.png"
          alt="Logo twitter"
          class="footer-img"
        />
      </a>
    </div>
    <div class="footer-conteiner">
      <p class="size-text-footer">
        Horario de atencion <br />
        Lunes a Viernes <br />
        8:00 am - 5:00pm
      </p>
    </div>
  </footer>
</body>
</html>