<body>
    <header>
      <!-- marcador de promocion superior -->
      <div class="promotion-bar">
        <div class="promotion-conteiner">
          <p class="promotion">Tres cuotas sin interes</p>
        </div>
      </div>
      <!-- comienza el header -->
      <div class="header-conteiner">
        <!-- burger menu para movile -->
        <div class="burger-menu">
          <i class="fa-solid fa-bars"></i>
        </div>
        <!-- linkeado de hombres y Mujeres para desktop -->
        <div class="link-genre">
          <a class="men" href="/man">Hombres</a>
          <a href="/women">Mujeres</a>
        </div>
        <!-- Logo de Liza -->
        <a class="logo" href="/">
          <img class="size-logo"
            src="/images/logoLIZA.jpg"
            alt="logo Liza"
          />
        </a>
        <!-- barra de busqueda -->
        <div class="search-conteiner">
          <input type="text" name="q" placeholder="buscar" />
          <button type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </div>

        <!-- seccion direcciones -->
        <ul>
          <li class="list">
            <a href="/shopping-cart">
              <i class="fa-solid fa-cart-shopping"></i>
            </a>
          </li>
          <li class="list">
            <a href="/register">
              <i class="fa-solid fa-user"></i>
            </a>
          </li>
        </ul>
      </div>
    </header>