* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.footer {
  color: #f4f4f4;
  background-color: #042850;
}

/*.logo {
  width: 50px;
}*/

.span {
  font-size: 50px;
}

.tw{
  background-color: #0f66ca;
  padding: 8px;
  border-radius: 50px;
  color: #f4f4f4;
}

.ig{
  background-color: #e60e53;
  padding: 8px;
  border-radius: 50px;
  color: #f4f4f4;
}

.wa{
  background-color: #12ab1f;
  padding: 8px;
  border-radius: 50px;
  color: #f4f4f4;
}

.di{
  background-color: #021830;
  padding: 8px;
  border-radius: 50px;
  color: #f4f4f4;
}

.headerfooter {display: flex;
justify-content: space-between;
padding: 20px;
align-items: center;}

.headercontent{
  display: flex;
  justify-content: space-evenly;
  gap: 40px;
}

.column {
  display: flex;
  flex-direction: column;
  padding: 10px;
  text-align: center;
}

h2{
  font-size: 15px;
  text-decoration: underline;
}

a{ 
  color: #f4f4f4;
  text-decoration: none;
}

li{ padding: 10px;}

/*
@media (min-width: 768px) {
  footer {
    display: flex;
  }
  .headerfooter {
    margin: 0;
    width: 20vw;
  }
  .footer-img {
    width: 40xp;
    height: 40px;
  }
}

@media (min-width: 1024px) {
  footer {
    display: flex;
  }
  
  .headerfooter {display: flex;
    justify-content: space-between;}
}*/
