<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

</head>
<body>
<%- include('../partials/header') %>
<main>
    <!-- elegi una opcion para entrar hasta ingresar con contrase単a -->
    
    <!-- form con usuario y password -->
    <form class="register-form" action="/">
      <h3 class="register-tittle">Ingresar con Contrase単a</h3>
      <label for="name" class="register-label">Nombre de usuario:</label>
      <input
        type="text"
        id="name"
        name="name"
        placeholder="nombre de usuario"
        class="register-input"
      />

      <label for="password" class="register-label">Contrase単a:</label>
      <input
        type="text"
        id="password"
        name="password"
        placeholder="contrase単a"
        class="register-input"
      />

      <button type="submit" class="submit">Enviar</button>
    </form>
  </main>

<%- include('../partials/footer') %>    
</body>
</html>